<group ns="drone0"><param name="tf_prefix" value="drone0" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone0" /><arg name="start_position" value="-x 19.200000 -y 59.550000 -z 13.200000" /></include></group>
<group ns="drone1"><param name="tf_prefix" value="drone1" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone1" /><arg name="start_position" value="-x 19.200000 -y 50.700000 -z 10.300000" /></include></group>
<group ns="drone2"><param name="tf_prefix" value="drone2" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone2" /><arg name="start_position" value="-x 18.750000 -y 50.400000 -z 10.650000" /></include></group>
<group ns="drone3"><param name="tf_prefix" value="drone3" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone3" /><arg name="start_position" value="-x 16.350000 -y 42.300000 -z 9.500000" /></include></group>
<group ns="drone4"><param name="tf_prefix" value="drone4" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone4" /><arg name="start_position" value="-x 16.350000 -y 42.750000 -z 9.500000" /></include></group>
<group ns="drone5"><param name="tf_prefix" value="drone5" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone5" /><arg name="start_position" value="-x 14.850000 -y 37.650000 -z 9.500000" /></include></group>
<group ns="drone6"><param name="tf_prefix" value="drone6" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone6" /><arg name="start_position" value="-x 14.550000 -y 36.750000 -z 10.500000" /></include></group>
<group ns="drone7"><param name="tf_prefix" value="drone7" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone7" /><arg name="start_position" value="-x 19.050000 -y 34.800000 -z 10.500000" /></include></group>
<group ns="drone8"><param name="tf_prefix" value="drone8" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone8" /><arg name="start_position" value="-x 10.500000 -y 38.250000 -z 14.400000" /></include></group>
<group ns="drone9"><param name="tf_prefix" value="drone9" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone9" /><arg name="start_position" value="-x 20.400000 -y 34.650000 -z 11.500000" /></include></group>
<group ns="drone10"><param name="tf_prefix" value="drone10" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone10" /><arg name="start_position" value="-x 20.550000 -y 38.850000 -z 10.450000" /></include></group>
<group ns="drone11"><param name="tf_prefix" value="drone11" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone11" /><arg name="start_position" value="-x 20.700000 -y 43.200000 -z 12.900000" /></include></group>
<group ns="drone12"><param name="tf_prefix" value="drone12" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone12" /><arg name="start_position" value="-x 20.700000 -y 33.150000 -z 12.500000" /></include></group>
<group ns="drone13"><param name="tf_prefix" value="drone13" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone13" /><arg name="start_position" value="-x 20.400000 -y 31.500000 -z 14.150000" /></include></group>
<group ns="drone14"><param name="tf_prefix" value="drone14" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone14" /><arg name="start_position" value="-x 20.700000 -y 35.250000 -z 12.500000" /></include></group>
