<group ns="drone0"><param name="tf_prefix" value="drone0" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone0" /><arg name="start_position" value="-x 2.430000 -y 0.940000 -z 4.550000" /></include></group>
<group ns="drone1"><param name="tf_prefix" value="drone1" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone1" /><arg name="start_position" value="-x 2.230000 -y 0.700000 -z 4.550000" /></include></group>
<group ns="drone2"><param name="tf_prefix" value="drone2" /><include file="$(find drone_hri_launch)/launch/spawn_iros_quadrotor.launch" ><arg name="prefix"  value="drone2" /><arg name="start_position" value="-x 1.900000 -y 0.420000 -z 2.000000" /></include></group>
